em {
    background-color: rgb(174, 0, 255);
    color: rgb(45, 255, 108);
    font-style: oblique;
}

strong {
    

    font-weight: bold;
    font-style: italic
}

p {
   /*border: 1px solid purple ;*/
}
p {
	font-family: "Garamond";
    font-size: 18px
    padding: 35px
}


.cat {
    color:red


}
.dog {
    color:aqua
}

}